<ion-view view-title="Detalle">
	<ion-content>
		<ion-list>
			<ion-item>
			Nombre
				<span class="item-note">
					{{ usuario.nombre }}
				</span>
			</ion-item>

			<ion-item>
			Apellido
				<span class="item-note">
					{{ usuario.apellido }}
				</span>
			</ion-item>

			<ion-item>
			Edad
				<span class="item-note">
					{{ usuario.edad }}
				</span>
			</ion-item>

			<ion-item>
			Usuario
				<span class="item-note">
					{{ usuario.user }}
				</span>
			</ion-item>

		<ion-list>

	</ion-content>
</ion-view>